
@{
    ViewBag.Title = "Index";
}

<div>
    <a href="/Home/Signed">Single Sign-on through Profil Zaufany</a>
</div>
<div>
    <a href="/Home/AddDocumentToSigning">Signing an XML document with Profil Zaufany</a>
</div>
<div>
    <a href="/Home/VerifySignedDocument">Verify signed XML document</a>
</div>
<div>
    <a href="/Home/Other">Other services</a>
</div>
<div>
    <a href="/Home/WSFileRepoService_UploadDemo">Upload document to FileRepoService</a>
</div>
<div>
    <a href="/Home/WSSkrytka_Demo">Skrytka</a>
</div>
<div>
    <a href="/Home/WSPull_Demo">Pull</a>
</div>
<div>
    <a href="/Home/WSFileRepoService_DownloadDemo">Download document from FileRepoService</a>
</div>


@if (this.TempData.ContainsKey("Message"))
{
    <div>
        @this.TempData["Message"];
    </div>
}